In [1]:
import os
import pandas as pd
import numpy as np
import json

In [2]:
metadata = pd.read_csv("movies_metadata.csv")

C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_17244\1538011337.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv("movies_metadata.csv")

In [3]:
metadata.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [4]:
columnList = metadata.columns

In [71]:
columnList

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
metadata.shape

(45466, 24)

In [73]:
for i in ['adult', 'belongs_to_collection', 'budget','homepage', 'imdb_id','popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue','spoken_languages', 'status', 'tagline', 'original_title','video',
       'vote_average', 'vote_count']:
    if i in columnList:
        metadata = metadata.drop(i, axis =1)

In [6]:
metadata.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [7]:
reSequence = ['id','title','genres','original_language','overview','runtime']

In [9]:
metadata = metadata.reindex(columns = reSequence)

In [10]:
metadata.head()

,id,title,genres,original_language,overview,runtime
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...",81.0
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,104.0
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,A family wedding reignites the ancient feud be...,101.0
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"Cheated on, mistreated and stepped on, the wom...",127.0
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",en,Just when George Banks has recovered from his ...,106.0

In [11]:
metadata.shape

(45466, 6)

In [127]:
metadata.to_csv("metadata.csv", index=False)

#Checking Null Values

In [12]:
metadata.isna().sum()

id                     0
title                  6
genres                 0
original_language     11
overview             954
runtime              263
dtype: int64

In [13]:
metadata = metadata.dropna()

In [14]:
metadata.isna().sum()

id                   0
title                0
genres               0
original_language    0
overview             0
runtime              0
dtype: int64

In [15]:
metadata.shape

(44496, 6)

In [19]:
creds = pd.read_csv("creds.csv")

In [16]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44496 entries, 0 to 45465
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 44496 non-null  object
 1   title              44496 non-null  object
 2   genres             44496 non-null  object
 3   original_language  44496 non-null  object
 4   overview           44496 non-null  object
 5   runtime            44496 non-null  float64
dtypes: float64(1), object(5)
memory usage: 2.4+ MB

In [17]:
metadata['id'] = metadata['id'].astype('int64')

In [18]:
metadata

,id,title,genres,original_language,overview,runtime
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...",81.0
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,104.0
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,A family wedding reignites the ancient feud be...,101.0
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"Cheated on, mistreated and stepped on, the wom...",127.0
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",en,Just when George Banks has recovered from his ...,106.0
...,...,...,...,...,...,...
45461,439050,Subdue,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",fa,Rising and falling between a man and woman.,90.0
45462,111109,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",tl,An artist struggles to finish his work while a...,360.0
45463,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,"When one of her hits goes wrong, a professiona...",90.0
45464,227506,Satan Triumphant,[],en,"In a small town live two brothers, one a minis...",87.0
45465,461257,Queerama,[],en,50 years after decriminalisation of homosexual...,75.0

In [20]:
result = pd.merge(metadata, creds, on = 'id')

In [21]:
result.shape

(44571, 8)

In [22]:
result.isna().sum()

id                   0
title                0
genres               0
original_language    0
overview             0
runtime              0
Unnamed: 0           0
crew                 0
dtype: int64

In [23]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44571 entries, 0 to 44570
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 44571 non-null  int64
 1   title              44571 non-null  object
 2   genres             44571 non-null  object
 3   original_language  44571 non-null  object
 4   overview           44571 non-null  object
 5   runtime            44571 non-null  float64
 6   Unnamed: 0         44571 non-null  int64
 7   crew               44571 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 3.1+ MB

In [24]:
resultColumnList = result.columns

In [25]:
resultColumnList

Index(['id', 'title', 'genres', 'original_language', 'overview', 'runtime',
       'Unnamed: 0', 'crew'],
      dtype='object')

In [26]:
result = result.drop(result.columns[6], axis=1)

In [27]:
metadata = result.copy()

In [28]:
metadata

,id,title,genres,original_language,overview,runtime,crew
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,A family wedding reignites the ancient feud be...,101.0,"[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"Cheated on, mistreated and stepped on, the wom...",127.0,"[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",en,Just when George Banks has recovered from his ...,106.0,"[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...
44566,439050,Subdue,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",fa,Rising and falling between a man and woman.,90.0,"[{'credit_id': '5894a97d925141426c00818c', 'de..."
44567,111109,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",tl,An artist struggles to finish his work while a...,360.0,"[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
44568,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,"When one of her hits goes wrong, a professiona...",90.0,"[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
44569,227506,Satan Triumphant,[],en,"In a small town live two brothers, one a minis...",87.0,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
44570,461257,Queerama,[],en,50 years after decriminalisation of homosexual...,75.0,"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [29]:
del result

In [123]:
breakpoint=0
for i in metadata['genres']:
    # if breakpoint<=3:
        i = i.replace("[{'id': ",'')
        i = i.replace(", 'name': ",'')
        i = i.replace("}, {'id': ",'')
        i = i.replace("}]",'')
        i = i.translate(str.maketrans("", "", string.digits))
        i = i.replace("''",'-')
        i = i.replace("'",'')
        
        # print(i)
        # breakpoint+=1

In [32]:
import string
for i in range(len(metadata['genres'])):
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("[{'id': ",'')
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace(", 'name': ",'')
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("}, {'id': ",'')
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("}]",'')
    metadata['genres'].loc[i] = metadata['genres'].loc[i].translate(str.maketrans("", "", string.digits))
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("''",'-')
    metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("'",'')

C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_17244\2184548895.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("[{'id': ",'')
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_17244\2184548895.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace(", 'name': ",'')
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_17244\2184548895.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("}, {'id': ",'')
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_17244\2184548895.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("}]",'')
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_17244\2184548895.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].translate(str.maketrans("", "", string.digits))
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_17244\2184548895.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("''",'-')
C:\Users\Mo Kasim\AppData\Local\Temp\ipykernel_17244\2184548895.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['genres'].loc[i] = metadata['genres'].loc[i].replace("'",'')

KeyboardInterrupt:

In [30]:
metadata['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
44566    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
44567                        [{'id': 18, 'name': 'Drama'}]
44568    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
44569                                                   []
44570                                                   []
Name: genres, Length: 44571, dtype: object

In [33]:
movieData = pd.read_csv("metadata.csv")

In [34]:
movieData.shape

(44571, 7)

In [35]:
movieData.head(3)

,id,title,genres,original_language,overview,runtime,crew
0,862,Toy Story,Animation-Comedy-Family,en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Adventure-Fantasy-Family,en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Romance-Comedy,en,A family wedding reignites the ancient feud be...,101.0,"[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [36]:
movieData = movieData.reindex(['id', 'title', 'genres','DirectorName','ProducerName', 'original_language', 'overview', 'runtime', 'crew'],axis=1)

In [37]:
movieData

,id,title,genres,DirectorName,ProducerName,original_language,overview,runtime,crew
0,862,Toy Story,Animation-Comedy-Family,NaN,NaN,en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Adventure-Fantasy-Family,NaN,NaN,en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Romance-Comedy,NaN,NaN,en,A family wedding reignites the ancient feud be...,101.0,"[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Comedy-Drama-Romance,NaN,NaN,en,"Cheated on, mistreated and stepped on, the wom...",127.0,"[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Comedy,NaN,NaN,en,Just when George Banks has recovered from his ...,106.0,"[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...
44566,439050,Subdue,Drama-Family,NaN,NaN,fa,Rising and falling between a man and woman.,90.0,"[{'credit_id': '5894a97d925141426c00818c', 'de..."
44567,111109,Century of Birthing,Drama,NaN,NaN,tl,An artist struggles to finish his work while a...,360.0,"[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
44568,67758,Betrayal,Action-Drama-Thriller,NaN,NaN,en,"When one of her hits goes wrong, a professiona...",90.0,"[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
44569,227506,Satan Triumphant,[],NaN,NaN,en,"In a small town live two brothers, one a minis...",87.0,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
44570,461257,Queerama,[],NaN,NaN,en,50 years after decriminalisation of homosexual...,75.0,"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [38]:
movieData['crew']

0        [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1        [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2        [{'credit_id': '52fe466a9251416c75077a89', 'de...
3        [{'credit_id': '52fe44779251416c91011acb', 'de...
4        [{'credit_id': '52fe44959251416c75039ed7', 'de...
                               ...
44566    [{'credit_id': '5894a97d925141426c00818c', 'de...
44567    [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
44568    [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
44569    [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
44570    [{'credit_id': '593e676c92514105b702e68e', 'de...
Name: crew, Length: 44571, dtype: object

In [39]:
import ast

In [56]:
directorName=[]
breakPoint = 0
for i in movieData['crew']:
    # if breakPoint <5:
        dict_list = ast.literal_eval(i)
        # breakPoint+=1
        flag =0
        for j in range(len(dict_list)):
            if dict_list[j]['job']=="Director":
                # print(dict_list[j]['name'])
                directorName.append(dict_list[j]['name'])
                # movieData['DirectorName'].loc[i]=dict_list[j]['name']
                flag =1
                break
        if flag==0:
            directorName.append(None)

In [57]:
len(directorName)

44571

In [61]:
# print(directorName)

In [59]:
movieData['DirectorName']=directorName

In [60]:
movieData

,id,title,genres,DirectorName,ProducerName,original_language,overview,runtime,crew
0,862,Toy Story,Animation-Comedy-Family,John Lasseter,NaN,en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Adventure-Fantasy-Family,Joe Johnston,NaN,en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Romance-Comedy,Howard Deutch,NaN,en,A family wedding reignites the ancient feud be...,101.0,"[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Comedy-Drama-Romance,Forest Whitaker,NaN,en,"Cheated on, mistreated and stepped on, the wom...",127.0,"[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Comedy,Charles Shyer,NaN,en,Just when George Banks has recovered from his ...,106.0,"[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...
44566,439050,Subdue,Drama-Family,Hamid Nematollah,NaN,fa,Rising and falling between a man and woman.,90.0,"[{'credit_id': '5894a97d925141426c00818c', 'de..."
44567,111109,Century of Birthing,Drama,Lav Diaz,NaN,tl,An artist struggles to finish his work while a...,360.0,"[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
44568,67758,Betrayal,Action-Drama-Thriller,Mark L. Lester,NaN,en,"When one of her hits goes wrong, a professiona...",90.0,"[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
44569,227506,Satan Triumphant,[],Yakov Protazanov,NaN,en,"In a small town live two brothers, one a minis...",87.0,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
44570,461257,Queerama,[],Daisy Asquith,NaN,en,50 years after decriminalisation of homosexual...,75.0,"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [63]:
producerName = []
breakPoint = 0
for i in movieData['crew']:
    # if breakPoint <5:
        dict_list = ast.literal_eval(i)
        # breakPoint+=1
        flag = 0
        for j in range(len(dict_list)):
            if dict_list[j]['job']=="Producer":
                producerName.append(dict_list[j]['name'])
                # print(dict_list[j]['name'])
                # movieData['ProducerName'].loc[i]=dict_list[j]['name']
                flag =1
                break
        if flag ==0:
            producerName.append(None)

In [64]:
len(producerName)

44571

In [65]:
movieData['ProducerName'] = producerName

In [66]:
movieData

,id,title,genres,DirectorName,ProducerName,original_language,overview,runtime,crew
0,862,Toy Story,Animation-Comedy-Family,John Lasseter,Bonnie Arnold,en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Adventure-Fantasy-Family,Joe Johnston,Scott Kroopf,en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Romance-Comedy,Howard Deutch,None,en,A family wedding reignites the ancient feud be...,101.0,"[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Comedy-Drama-Romance,Forest Whitaker,Ronald Bass,en,"Cheated on, mistreated and stepped on, the wom...",127.0,"[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Comedy,Charles Shyer,Nancy Meyers,en,Just when George Banks has recovered from his ...,106.0,"[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...
44566,439050,Subdue,Drama-Family,Hamid Nematollah,Hamid Nematollah,fa,Rising and falling between a man and woman.,90.0,"[{'credit_id': '5894a97d925141426c00818c', 'de..."
44567,111109,Century of Birthing,Drama,Lav Diaz,None,tl,An artist struggles to finish his work while a...,360.0,"[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
44568,67758,Betrayal,Action-Drama-Thriller,Mark L. Lester,None,en,"When one of her hits goes wrong, a professiona...",90.0,"[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
44569,227506,Satan Triumphant,[],Yakov Protazanov,Joseph N. Ermolieff,en,"In a small town live two brothers, one a minis...",87.0,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
44570,461257,Queerama,[],Daisy Asquith,None,en,50 years after decriminalisation of homosexual...,75.0,"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [82]:
movieData.drop("crew", axis =1)

KeyError: "['crew'] not found in axis"

In [68]:
movieData.isna().sum()

id                       0
title                    0
genres                   0
DirectorName           803
ProducerName         22718
original_language        0
overview                 0
runtime                  0
crew                     0
dtype: int64

In [69]:
movieData = movieData.dropna()

In [70]:
movieData.isna().sum()

id                   0
title                0
genres               0
DirectorName         0
ProducerName         0
original_language    0
overview             0
runtime              0
crew                 0
dtype: int64

In [80]:
movieData.to_csv("metadata.csv", index=False)

In [83]:
movieData

,,MovieID,MovieName,DirectorName,ProducerName,Duration,Story,Genre,Language
0,862,Toy Story,Animation-Comedy-Family,John Lasseter,Bonnie Arnold,en,"Led by Woody, Andy's toys live happily in his ...",81.0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Adventure-Fantasy-Family,Joe Johnston,Scott Kroopf,en,When siblings Judy and Peter discover an encha...,104.0,"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
3,31357,Waiting to Exhale,Comedy-Drama-Romance,Forest Whitaker,Ronald Bass,en,"Cheated on, mistreated and stepped on, the wom...",127.0,"[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Comedy,Charles Shyer,Nancy Meyers,en,Just when George Banks has recovered from his ...,106.0,"[{'credit_id': '52fe44959251416c75039ed7', 'de..."
5,949,Heat,Action-Crime-Drama-Thriller,Michael Mann,Art Linson,en,"Obsessive master thief, Neil McCauley leads a ...",170.0,"[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
...,...,...,...,...,...,...,...,...,...
44562,390959,Shadow of the Blair Witch,Mystery-Horror,Ben Rock,Jay Bogdanowitsch,en,"In this true-crime documentary, we delve into ...",45.0,"[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de..."
44564,222848,Caged Heat 3000,Science Fiction,Aaron Osborne,Mike Upton,en,It's the year 3000 AD. The world's most danger...,85.0,"[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de..."
44565,30840,Robin Hood,Drama-Action-Romance,John Irvin,Sarah Radclyffe,en,"Yet another version of the classic epic, with ...",104.0,"[{'credit_id': '52fe44439251416c9100a899', 'de..."
44566,439050,Subdue,Drama-Family,Hamid Nematollah,Hamid Nematollah,fa,Rising and falling between a man and woman.,90.0,"[{'credit_id': '5894a97d925141426c00818c', 'de..."
44569,227506,Satan Triumphant,[],Yakov Protazanov,Joseph N. Ermolieff,en,"In a small town live two brothers, one a minis...",87.0,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."

In [86]:
movieData.columns = ['MovieID', 'MovieName', 'Genre', 'DirectorName', 'ProducerName','Language',  'Story', 'Duration',  '']

In [95]:
movieData = movieData.drop(movieData.columns[8],axis=1)

In [103]:
movieData.to_csv("MovieMasterData.csv", index= False)

In [106]:
movieData = pd.read_csv("MovieMasterData.csv")

In [107]:
movieData

,MovieID,MovieName,Genre,DirectorName,ProducerName,Language,Story,Duration
0,862,Toy Story,Animation-Comedy-Family,John Lasseter,Bonnie Arnold,en,"Led by Woody, Andy's toys live happily in his ...",81.0
1,8844,Jumanji,Adventure-Fantasy-Family,Joe Johnston,Scott Kroopf,en,When siblings Judy and Peter discover an encha...,104.0
2,31357,Waiting to Exhale,Comedy-Drama-Romance,Forest Whitaker,Ronald Bass,en,"Cheated on, mistreated and stepped on, the wom...",127.0
3,11862,Father of the Bride Part II,Comedy,Charles Shyer,Nancy Meyers,en,Just when George Banks has recovered from his ...,106.0
4,949,Heat,Action-Crime-Drama-Thriller,Michael Mann,Art Linson,en,"Obsessive master thief, Neil McCauley leads a ...",170.0
...,...,...,...,...,...,...,...,...
21820,390959,Shadow of the Blair Witch,Mystery-Horror,Ben Rock,Jay Bogdanowitsch,en,"In this true-crime documentary, we delve into ...",45.0
21821,222848,Caged Heat 3000,Science Fiction,Aaron Osborne,Mike Upton,en,It's the year 3000 AD. The world's most danger...,85.0
21822,30840,Robin Hood,Drama-Action-Romance,John Irvin,Sarah Radclyffe,en,"Yet another version of the classic epic, with ...",104.0
21823,439050,Subdue,Drama-Family,Hamid Nematollah,Hamid Nematollah,fa,Rising and falling between a man and woman.,90.0
21824,227506,Satan Triumphant,[],Yakov Protazanov,Joseph N. Ermolieff,en,"In a small town live two brothers, one a minis...",87.0

In [108]:
movieData.isna().sum()

MovieID         0
MovieName       0
Genre           0
DirectorName    0
ProducerName    0
Language        0
Story           0
Duration        0
dtype: int64

In [109]:
movieData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21825 entries, 0 to 21824
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       21825 non-null  int64
 1   MovieName     21825 non-null  object
 2   Genre         21825 non-null  object
 3   DirectorName  21825 non-null  object
 4   ProducerName  21825 non-null  object
 5   Language      21825 non-null  object
 6   Story         21825 non-null  object
 7   Duration      21825 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.3+ MB

In [131]:
movieData.shape

(21825, 8)

In [141]:
emptyGenres = []
for i in range(len(movieData['Genre'])):
    if movieData['Genre'].loc[i]=='[]':
        print(movieData['MovieID'].loc[i])
        # print(type(movieData['Genre'].loc[i]))
        # emptyGenres.append(movieData['MovieID'].loc[i])
        # movieData = movieData[movieData["Genre"]!='[]']

KeyError: 541

In [129]:
emptyGenres

[42758,
 125021,
 125124,
 141489,
 159727,
 201724,
 58098,
 42142,
 277724,
 210728,
 41660,
 210937,
 1777,
 60562,
 64022,
 25007,
 121043,
 90374,
 157373,
 60612,
 250093,
 19422,
 54191,
 39306,
 94466,
 124994,
 63771,
 129689,
 178736,
 126421,
 145217,
 153913,
 32638,
 154442,
 166671,
 135198,
 114444,
 59828,
 109887,
 150712,
 31324,
 178587,
 117401,
 41822,
 47273,
 174593,
 132122,
 29860,
 279159,
 172214,
 32327,
 148857,
 191600,
 131360,
 131671,
 135547,
 140668,
 160324,
 194668,
 199687,
 260156,
 31122,
 171738,
 128129,
 143534,
 180998,
 53061,
 136727,
 140873,
 143295,
 124295,
 109364,
 244838,
 154188,
 36132,
 157045,
 181876,
 171357,
 27739,
 127817,
 122348,
 131903,
 218582,
 124998,
 123620,
 13621,
 218098,
 141063,
 140032,
 221234,
 122479,
 199198,
 83140,
 218393,
 69974,
 125472,
 198772,
 31292,
 137960,
 256306,
 100205,
 255843,
 94236,
 29631,
 225982,
 143525,
 56177,
 54388,
 94809,
 75947,
 73369,
 69520,
 103216,
 92657,
 140883,
 139075,
 204912,
 200450,
 279086,
 126841,
 184681,
 142373,
 142374,
 12424,
 38313,
 41610,
 137984,
 302721,
 146778,
 150191,
 289679,
 120672,
 135679,
 267815,
 198204,
 263570,
 72785,
 62091,
 133560,
 156389,
 156388,
 143769,
 105529,
 198661,
 143602,
 65576,
 86279,
 171160,
 157174,
 158598,
 81551,
 143980,
 42693,
 36516,
 145203,
 31743,
 28536,
 119944,
 217919,
 114377,
 143169,
 345575,
 79426,
 196253,
 285959,
 105157,
 105153,
 58551,
 67560,
 292523,
 289673,
 153444,
 58396,
 12831,
 78827,
 145191,
 98642,
 260182,
 81389,
 220005,
 158942,
 191703,
 324340,
 367108,
 70151,
 255733,
 69427,
 97943,
 33827,
 130436,
 169726,
 250974,
 40534,
 157515,
 145244,
 144341,
 377150,
 175331,
 95700,
 146905,
 118430,
 405653,
 123858,
 134390,
 175587,
 111582,
 128669,
 103218,
 105693,
 192178,
 410455,
 117592,
 148753,
 29638,
 79871,
 41599,
 378435,
 160261,
 137669,
 407204,
 130450,
 433034,
 28670,
 158273,
 100185,
 230867,
 320453,
 182937,
 147939,
 140530,
 44124,
 433583,
 291577,
 413687,
 130980,
 447091,
 76059,
 47798,
 118144,
 76116,
 303835,
 145813,
 165023,
 66878,
 147871,
 456018,
 187602,
 130278,
 103462,
 212865,
 408624,
 61385,
 227506]

In [130]:
len(emptyGenres)

253

In [139]:
movieData.to_csv("MovieMasterData.csv", index=False)